<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quack.talk.api.report.mapper.ReportMapper">

    <insert id="insertReport">
        INSERT INTO report (
            user_id,
            target_id,
            type,
            code,
            content,
            detail
        ) VALUES (
            #{userId},
            #{targetId},
            #{type},
            #{code},
            #{content},
            #{detail}
         )
    </insert>

    <select id="countReport" resultType="int">
        SELECT count(*)
        FROM report
        WHERE
            user_id = #{userId}
            AND target_id = #{targetId}
            AND status = 100
    </select>

    <insert id="insertPenalty">
        INSERT INTO penalty (
            code,
            target_id,
            type,
            start_date,
            end_date
        ) VALUES (
            #{penalty.code},
            #{penalty.targetId},
            #{penalty.type},
            NOW(),
            DATE_ADD(NOW(), INTERVAL #{penaltyDays} DAY)
        )
    </insert>

    <select id="findUnderPenaltyTarget" resultType="com.quack.talk.api.report.entity.Penalty">
        SELECT *
        FROM penalty
        WHERE target_id = #{targetId}
            AND status = 100
            AND (NOW() between start_date and end_date)
    </select>

</mapper>
